{% extends "base.html" %}
{% block head %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

<style>
    #main{
        width: 95%;
        height: 100%;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 30px;
    }
    #all{
        max-width: 1800px;
        max-height: 1200px;
        margin: 0 auto;
        border: 1px solid #999;
        /* background-color: #333; */
    }
    #container{
        max-width: 1200px;
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
    h1{
        width: 50%;
    }
    h2{
        font-size: 20px;
        text-align: right;
    }
    #update_time{
        width: 50%;
    }
    @media screen and (max-width: 768px) {
        #all{
            max-width: 100%;
            max-height: 100%;
            margin: 0 auto;
            border: 1px solid #999;
            /* background-color: #333; */
        }
        #main{
            width: 100%;
            height: 100%;
            margin-left: 0px;
            margin-right: 0px;
            font-size: 20px;
        }
        #container{
            max-width: 1200px;
            height: 30%;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            display: flex-wrap;
        }
        h1{
            width: 100%;
            text-align: center;
        }
        h2{
            font-size: 20px;
            text-align: center;
        }
        #update_time{
            width: 100%;
        }
    }
</style>
{% endblock head %}


{% block content %}

<div id="sr">
    <div id="all">
        <div id="main">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>
<div id="container">
    <a href="/" style="text-align: center; display: block;">&lt回首頁</a>
    <div id="update_time">
        <h2>更新時間: 20230815T00:00</h2>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // 示例数据
        var data = {{data | tojson | safe}};
        
        // 提取时间和行业数据
        var times = data.map(entry => entry.time);
        var electricity_predict = data.map(entry => entry.electricity_predict);
        var industries = data.map(entry => entry.industry);

        var start_time = Date.parse(times[0]);
        var end_time = Date.parse(times[times.length - 1]);
        
        start_time = new Date(start_time).toLocaleDateString();
        end_time = new Date(end_time).toLocaleDateString();

        for (var i = 0; i < times.length; i++) {
            times[i] = new Date(Date.parse(times[i])).toLocaleDateString();
        }

        // 创建折线图
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: times,
                datasets: [{
                    label: '電力預測',
                    data: electricity_predict,
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    title: {
                        display: true,
                        font: {
                            size: 20
                        },
                        text: industries[0]+start_time+'~'+end_time+'預測結果'
                    }
                },
                scales: {
                    x:{
                        title: {
                            display: true,
                            text: '日'
                        },
                        
                        
                    },
                    y:{
                        ticks:{
                            font:{
                                size: 15
                            }
                        },
                        title: {
                            display: true,
                            text: '瓩'
                        }
                    }
                }
            }
        });

    });
</script>



{% endblock content %}
