{% extends "base.html" %}
{% block head %}
{{ super() }}
<style>
    h1{
        font-size: 40px;
        text-align: center;
        margin-left: 10px;
    }
    .sidebar {
        height: 100%;
        width: 250px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #333;
        padding-top: 20px;
    }

    .sidebar a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }

    .sidebar a:hover {
        background-color: #555;
    }

    .sidebar .dropdown {
        position: relative;
    }

    .sidebar .dropdown-content {
        display: none;
        position: absolute;
        background-color: #444;
        min-width: 200px;
        z-index: 1;
    }

    .sidebar .dropdown.active .dropdown-content {
        display: block;
    }

    .content {
        margin-left: 250px;
        padding: 20px;
    }
    .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .img-zoom-container {
        position: relative;
    }
    .img-zoom-lens {
        position: absolute;
        border: 1px solid #d4d4d4;
        /*set the size of the lens:*/
        width: 40px;
        height: 40px;
    }
    .img-zoom-result {
        border: 1px solid #d4d4d4;
        /*set the size of the result div:*/
        width: 300px;
        height: 300px;
    }
    .button-container {
        text-align: right; /* 将按钮容器内的内容右对齐 */
    }
    button{
        width: 100px;
        height: 40px;
        font-size: 18px;
        border: 2px solid #ccc;
        padding: 5px;
        margin-right: 1px;
    }

    #ser_main{
        width: 300px;
        height: 150px;
        position: relative;
        /* background-color: #333; */
    }
    #all{
        max-width: 1800px;
        height: 1200px;
        margin: 0 auto;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        border: 1px solid #999;
        /* background-color: #333; */
    }
    #con_l{
        float: left;
        width: 30%;
        height: 1100px;
        font-size: 18px;
        /* margin-top: 20px; */
        margin-left: 10px; 
        border-right: 2px solid #333;
        /* background-color: #333; */
    }
    #con_r{
        float: right;
        width: 65%;
        height: 100%;
        margin-right: 20px;
        /* background-color: #444; */
    }
    #ser_title{
        font-size: 30px;
        margin-top: 20px;
    }
    #ser_main{
        /* border-bottom: 2px solid #333; */
        width: 420px;
    }
    #title{
        text-align: center;
        /* color: #fff; */
        font-size: 30px;
        font-weight: bold;
    }
    #map_zone{
        background-color: #ffffff;
        color: #fff;
        height: 800px;
        width: 100%;
        /* margin: 0px auto; */
        margin-right: 20px;
        padding: 5px;
        /* border: #333; */
    }
    #station{
        float: left;
        width:  50%;
        height: 100%;
        /* border: 1px solid #333; */
        /* background-color: #333; */
    }
    #result{
        float: right;
        width:  45%;
        height: 50%;
        /* border: 1px solid #333; */
        /* background-color: #333; */
    }
    #industry {
        font-size: 18px;
        border: 2px solid #ccc;
        padding: 5px;
        width: 200px;
    }
    #start{
        font-size: 18px;
        border: 2px solid #ccc;
        padding: 5px;
        width: 150px;
    }
    .nav_container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100px;
        font-size: 50px;
        line-height: 100px;
        background-color: #20b2aa;
    }
    .nav_bar{
        display: flex;
        align-items: center;
        width: 700px;
        font-size: 30px;
        margin-left:auto;
        padding: 10px 0;
    }
    .nav_bar a {
        color: black;
        text-decoration: none;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 25px;
        padding-left: 30px;
        padding-right: 30px;
        transition: background-color 0.3s ease;
    }
    .nav_bar a:hover {
        background-color: #555;
        color: white;
    }
    .nav_bar .active{
        background-color: #555;
    }

    .nav_header{
        display: flex;
        align-items: center;
    }
    ul{
        display:none;
    }
    

    @media screen and (max-width: 768px) {
        /* 手機版面 */
        h1{
            font-size: 35px;
            text-align: center;
            margin-left: 0px;
        }
        #sr{
            max-width: 500x;
        }
        #all{
            max-width: 768px;
            height: 100%;
            margin: 0 auto;
            margin-right: 20px;
            margin-left: 20px;
            margin-bottom: 20px;
            border: 1px solid #999;
            /* background-color: #333; */
        }
        /* 其他元素的調整 */
        .nav_container{
            height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            font-size: 30px;
            line-height: 30px;
            background-color: white;
        }
        .nav_header{
            width: 100%;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-align: center;
            background-color: #20b2aa;
        }
        .nav_bar{
            display: none;
            margin : 0;
            margin-top: 10px;
            margin-bottom: 10px;
            align-items: center;
            width: 100%;
            position: relative;
            height: auto;
            display: flex;
        }
        .nav_bar a {
            display: none;
            margin: 5px;
            font-size: 20px;
            width: 100%;
            text-align: center;
        }
        ul{
            display: block;
            position: relative;
            font-size: 20px;
            width: 100%;
            height:100%;
            margin: 0;
            margin-top: 10px;
            padding: 0;
        }
        li{
            display: block;
            width: 100%;
            height: 40px;
            margin: 0;
            padding: 0;
            text-align: center;
        }
        
        #con_l{
            width: 100%;
            height:40%;
            border-right: none;
            margin-left: 0px;
        }
        #con_r{
            width: 100%;
            height: 40%;
            margin-right: 0px;
            margin-left: 0px;
        }
        #ser_main{
            width: 100%;
        }
        button{
            position: relative;
            margin-top: 10px;
        }
        #map_zone{
            width: 100%;
            height: 100%;
            margin: 0px auto;
            /* border: #333; */
        }
        #station{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
        }
        #myimage{
            width: 100%;
            height: 100%;
        }
        #result{
            display: none;
        }
        .img-zoom-lens{
            display: none;
        }
        .img-zoom-result{
            display: none;
        }

        /* 基本样式 */
        .vertical_nav {
            list-style: none;
            padding: 0;
        }

        .vertical_nav li {
            margin: 10px 0;
            text-align: center;
        }

        .vertical_nav a {
            text-decoration: none;
            color: #333;
            padding: 8px;
            display: block;
            transition: background-color 0.3s ease;
        }

        /* 鼠标悬停效果 */
        .vertical_nav a:hover {
            background-color: #f2f2f2;
        }

        /* 活动链接样式 */
        .vertical_nav .active a {
            background-color: #333;
            color: #fff;
        }


          
    }
    
    $(document).ready(function() {
        $("#toggleNav").click(function() {
          $(".vertical_nav").toggleClass("show_nav");
        });
      });      
</style>

<script>
    function imageZoom(imgID, resultID) {
    var img, lens, result, cx, cy;
    img = document.getElementById(imgID);
    result = document.getElementById(resultID);
    /*create lens:*/
    lens = document.createElement("DIV");
    lens.setAttribute("class", "img-zoom-lens");
    lens.style.width = "100px";
    lens.style.height = "100px";
    /*insert lens:*/
    img.parentElement.insertBefore(lens, img);
    /*calculate the ratio between result DIV and lens:*/
    cx = result.offsetWidth / lens.offsetWidth;
    cy = result.offsetHeight / lens.offsetHeight;
    /*set background properties for the result DIV:*/
    result.style.backgroundImage = "url('" + img.src + "')";
    result.style.backgroundSize = (img.width * cx) + "px " + (img.height * cy) + "px";
    /*execute a function when someone moves the cursor over the image, or the lens:*/
    lens.addEventListener("mousemove", moveLens);
    img.addEventListener("mousemove", moveLens);
    /*and also for touch screens:*/
    lens.addEventListener("touchmove", moveLens);
    img.addEventListener("touchmove", moveLens);
    function moveLens(e) {
      var pos, x, y;
      /*prevent any other actions that may occur when moving over the image:*/
      e.preventDefault();
      /*get the cursor's x and y positions:*/
      pos = getCursorPos(e);
      /*calculate the position of the lens:*/
      x = pos.x - (lens.offsetWidth / 2);
      y = pos.y - (lens.offsetHeight / 2);
      /*prevent the lens from being positioned outside the image:*/
      if (x > img.width - lens.offsetWidth) {x = img.width - lens.offsetWidth;}
      if (x < 0) {x = 0;}
      if (y > img.height - lens.offsetHeight) {y = img.height - lens.offsetHeight;}
      if (y < 0) {y = 0;}
      /*set the position of the lens:*/
      lens.style.left = x + "px";
      lens.style.top = y + "px";
      /*display what the lens "sees":*/
      result.style.backgroundPosition = "-" + (x * cx) + "px -" + (y * cy) + "px";
    }
    function getCursorPos(e) {
      var a, x = 0, y = 0;
      e = e || window.event;
      /*get the x and y positions of the image:*/
      a = img.getBoundingClientRect();
      /*calculate the cursor's x and y coordinates, relative to the image:*/
      x = e.pageX - a.left;
      y = e.pageY - a.top;
      /*consider any page scrolling:*/
      x = x - window.pageXOffset;
      y = y - window.pageYOffset;
      return {x : x, y : y};
    }
}
</script>

{% endblock head %}

{% block title %}weathertricity{% endblock title %}
{% block content %}
<div id = 'sr'>
    <div id = "all">
        <div class="nav_container">
            <div class = "nav_header"><h1>WEATHERTRICITY</h1></div>
            
            <ul class="vertical_nav">
                <li><a href="/" >負載預測</a></li>
                <li><a href="{{ url_for('envintro') }}" >環境介紹</a></li>
                <li><a href="{{ url_for('teamintro') }}" >團隊介紹</a></li>
            </ul>
            <div class="nav_bar">
                <a href="/" >負載預測</a>
                <a href="{{ url_for('envintro') }}" >環境介紹</a>
                <a href="{{ url_for('teamintro') }}" >團隊介紹</a>
              </div>
        </div>
        <div id = "main">
            <div id ="con_l">
                <form method="post" action="{{url_for('get_shortterm_and_plot')}}">
                    <div id="ser_title">短期推估</div>
                    <div id="ser_main">
                    <table wid="100%" border="0" cellpadding="3">
                        <tbody>
                            <tr>
                                <td scope="row">
                                    行業別:
                                    <select name="industry" id="industry" style="width: 180px;">
                                        <option value="ind1">民生工業</option>
                                        <option value="ind2">石化業</option>
                                        <option value="ind3">金屬製造</option>
                                        <option value="ind4">資訊電子</option>
                                        <option value="ind5">綜合服務</option>
                                    </select>
                                    <button name="submit_btn" type="submit" class="btn btn-primary">送出</button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </form>
                                
                <form method="post" action="{{url_for('get_longterm_and_plot')}}">
                <div id="ser_title">長期推估</div>
                <div id="ser_main">
                    <table wid="100%" border="0" cellpadding="3">
                        <tbody>
                            <tr>
                                <td scope="row">
                                    行業別:
                                    <select name="industry" id="industry" style="width: 180px;">
                                        <option value="ind1">民生工業</option>
                                        <option value="ind2">石化業</option>
                                        <option value="ind3">金屬製造</option>
                                        <option value="ind4">資訊電子</option>
                                        <option value="ind5">綜合服務</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">
                                    選擇年月:
                                    <input class="input" type="month" id="start" name="start" min="2020-01" value="2023-08">
                                    <button name="submit_btn" type="submit" class="btn btn-default">送出</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </form>
                
                </div>
                <div id="con_r">
                    <div id="ser_title">測站選擇</div>
                    <div id="map_zone">
                        <div id="station" class="img-zoom-container">
                            <img id ="myimage" src="../static/img/taiwan_cwb_new.png" width="450" height="650">
                        </div>
                        <div id="result" class="img-zoom-result"></div>
                    </div>
                </div>
            </form>
                
                
            </div>
                



        </div>
    </div>

<script>
    // Initiate zoom effect:
    imageZoom("myimage", "result");
    
</script>


{% endblock content %}



