{% extends "base.html" %}
{% block head %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock head %}


{% block content %}

<canvas id="myChart"></canvas>
<script>

    document.addEventListener("DOMContentLoaded", function() {
        // 示例数据
        var data = {{data | tojson | safe}};

        // 提取时间和行业数据
        var times = data.map(entry => entry.time);
        var electricity_predict = data.map(entry => entry.electricity_predict);
        var industries = data.map(entry => entry.industry);

        // 创建折线图
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: times,
                datasets: [{
                    label: '電力預測',
                    data: electricity_predict,
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1
                }]
            },
            options: {
                responsive: true
            }
        });
    });

</script>

{% endblock content %}
